.item-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 355px;
    background-color: white;
    padding: 40px;
    border-radius: 35px;
    margin-right: 10px;
    border: 55px #000000;
}

.item-img-app {
    width: 350px;
    height: 170px;
    border: 2px solid rgb(209, 209, 209);
    margin-bottom: 6px;
    align-items: center;
    border-radius: 15px;
}

.item-category {
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: rgb(13, 190, 102);
    margin-bottom: 6px;
    margin-top: 2px;
}

.item-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #494949;
    padding: 4px 0 10px 0;
}

.item-desc {
    white-space: pre-line;
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #525151;
}

.item-button-download {
    background: rgb(13, 190, 102);
    border-radius: 10px;
    padding: 10px 5px;
    border: none;
    width: 180px;
    margin-top: 18px;
    margin-left: 80px;
    color: white;
    font-weight: 1000;
}

.item-button-download-pressed {
    background: rgb(16, 119, 67);
    border-radius: 10px;
    padding: 10px 5px;
    border: none;
    width: 180px;
    margin-top: 18px;
    margin-left: 80px;
    color: white;
    font-weight: 1000;
}